
// .ntn-save{
//     font-family: 'Tiro Gurmukhi', serif;
//     background-color: #78c5b5;
//     border: none;
// }

.label-family{
margin-left: 25px;
}
.opacity-style{
    border-radius: 7px;
    background-color: rgb(255,255, 255,0.5);
}

.card-personalizada{
    // background-color: cadetblue;
    height: 90vh;
    width: 95%;
    background: none;
    
}
.card-personalizada-grid{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 350px;
}

.item-1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.item-2{
    display: grid;
    justify-content: center;
}

.form-grid{
    display: grid; 
    grid-template-columns: 1fr 9rem;
    margin: auto;
    
}

.margin-left{
    margin-left: 15px
}

.margin-right{
    margin-right: 15px
}

