<div class="row mt-4">
    <div [ngClass]="mostraBoton.mostrarBoton ? 'col-7 offset-1' : 'col-7 mx-auto' " >
        <form [formGroup]="formBitacora" (ngSubmit)="guardarRegistro();">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-center">
                        <strong>
                            Bitácora
                        </strong>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="colaborador">Colaborador</label>
                                <input type="text" class="form-control" formControlName="colaborador" [value]="nombreUsuario">
                                <div *ngIf="formBitacora.get('colaborador').invalid && 
                                (formBitacora.get('colaborador').dirty || formBitacora.get('colaborador').touched)"
                                    class="d-flex justify-content-center text-danger">
                                    <div *ngIf="formBitacora.get('colaborador')?.errors?.required ">
                                        *Este campo es requerido.
                                    </div>
                                    <div *ngIf="formBitacora.get('colaborador')?.errors?.minlength ">
                                        *La longitud mínima es de 2.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="actividad">Actividad</label>
                            <select class="form-control" formControlName="actividad">
                                <ng-container *ngFor="let actividad of iActividades">
                                    <option class="form-control" selected [value]="actividad.id">{{actividad.nombre}}</option>
                                </ng-container>
                            </select>
                            <div *ngIf="formBitacora.get('actividad').invalid && 
                            (formBitacora.get('actividad').dirty || formBitacora.get('actividad').touched)"
                                class="d-flex justify-content-center text-danger">
                                <div *ngIf="formBitacora.get('actividad')?.errors?.actividadInvalida ">
                                    *Seleccione una actividad.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-6">
                            <label for="cr">CR</label>
                            <select class="form-control text-center" formControlName="cr" (change)="changeFolio();">
                                <ng-container *ngFor="let cr of comboCr; let i= index">
                                    <option [value]="cr.idCr">{{cr.nombreCrNombreAsignacion}}</option>
                                </ng-container>
                            </select>
                            <div *ngIf="formBitacora.get('cr').invalid && 
                            (formBitacora.get('cr').dirty || formBitacora.get('cr').touched)"
                                class="d-flex justify-content-center text-danger">
                                <div *ngIf="formBitacora.get('cr')?.errors?.crInvalida ">
                                    *Seleccione un CR.
                                </div>
                            </div>
                            <div *ngIf="folio !== '' " class="text-center">
                                {{folio}}
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="colaborador">Fecha</label>
                                <input type="date" class="form-control" formControlName="fecha">
                                <div *ngIf="formBitacora.get('fecha').invalid && 
                                (formBitacora.get('fecha').dirty || formBitacora.get('fecha').touched)"
                                    class=" text-danger">
                                    <div *ngIf="formBitacora.get('fecha')?.errors?.required "
                                        class="d-flex justify-content-center">
                                        *El campo es requerido.
                                    </div>

                                    <div *ngIf="formBitacora.get('fecha')?.errors?.fechaInvalida "
                                        class="d-flex justify-content-center">
                                        *Ingrese un dia de Lunes a Viernes.
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="hora">Hora</label>
                                <input type="text" class="form-control" formControlName="hora">
                                <div *ngIf="formBitacora.get('hora').invalid && 
                                (formBitacora.get('hora').dirty || formBitacora.get('hora').touched)"
                                    class=" text-danger">
                                    <div *ngIf="formBitacora.get('hora')?.errors?.required "
                                        class="d-flex justify-content-center">
                                        *El campo es requerido.
                                    </div>

                                    <div *ngIf="formBitacora.get('hora')?.errors?.pattern "
                                        class="d-flex justify-content-center">
                                        *Ingrese solo números.
                                    </div>

                                    <div *ngIf="formBitacora.get('hora')?.errors?.horaInvalida "
                                    class="d-flex justify-content-center">
                                    *No puedes ingresar más de 8 horas diarias.
                                </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Notas</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                formControlName="notas"></textarea>
                                <div *ngIf="formBitacora.get('notas').invalid && 
                                (formBitacora.get('notas').dirty || formBitacora.get('notas').touched)"
                                    class=" text-danger">
                                    <div *ngIf="formBitacora.get('notas')?.errors?.required "
                                        class="d-flex justify-content-center">
                                        *El campo es requerido.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">

                        <div class='col-12 d-flex justify-content-end'>
                            <button class="btn btn-success" [disabled]="formBitacora.invalid">
                                GUARDAR
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

        <div *ngIf="mostraBoton.mostrarBoton" class="col-4">
                <form [formGroup]="formReporte" (ngSubmit)="obtenerMes();">
                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-secondary" type="submit" >
                                EXPORTAR
                            </button>
                        </div>
                        <div class="col-6">
                            <select class="form-control text-center" formControlName="seleccionarMes"  >
                                    <option *ngFor="let item of mostraBoton.mesesDto" [value]="item.index"> {{item.nombreMes}} </option>
                            </select>
                        </div>
                    </div> 
                </form>
        </div>
</div>


<app-loading *ngIf="mostrarLoading"></app-loading>