<div class="modal" id="modalCharge" role="dialog">
    <div class="modal-dialog modal-sm" >
        <div class="modal-content" style="background-color:#8CB0BA;color:white">
            <div class="modal-body alert alert-success bg-white">
                <div class="modal-header d-flex justify-content-center">
                    <h2 class="modal-title " id="TextHeader">Cargando...</h2>
                </div>
                <div class="modal-body text-center bg-white">
                    <img alt="Solicitud en espera" [src]="imgLoading" class="image-waiting" />
                </div>
            </div>
        </div>
    </div>
</div>
<div style="z-index: 50;" aria-hidden="true" class="modal-backdrop fade show"></div>
