.modal {
    display: block !important;
    top: 20% !important;
    left: 0;
}

.text-center {
    text-align: center;
}

.image-waiting {
    width: 50%;
    border-radius: 50%
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    border-radius: 8px;
}

.modal-content {
    border-radius: 8px;
}

.modal-title {
    font-size: 25px;
    color: #004588;
}
