<div class="grid">
    <div class="item1">
        <div class="card-grid " [ngClass]="cambiarStyleLogin ? 'sin-opacity-style': 'opacity-style' ">
            <div class="text-center mt-3">
                <strong class="">
                    <h4>
                        Login
                    </h4>
                </strong>
            </div>
            <div class="">
                <form [formGroup]="formUsuario" (ngSubmit)="accederSIstema();">
                    <div class="row m-top ">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="usuario" class="d-flex justify-content-center">
                                    <strong class="nombre">
                                        Nombre completo
                                    </strong>
                                </label>
                                <input type="text" class="form-control mt-1" id="usuario" (click)="loginCuadro()"
                                    placeholder="Nombre, Apeido Paterno y Materno" 
                                    formControlName="usuario"
                                    [value]="formUsuario.get('usuario').value | uppercase ">

                                <div *ngIf="formUsuario.get('usuario').invalid && 
                                (formUsuario.get('usuario').dirty || formUsuario.get('usuario').touched)"
                                    class="d-flex justify-content-center text-danger">
                                    <div *ngIf="formUsuario.get('usuario')?.errors?.required ">
                                        *Este campo es requerido.
                                    </div>
                                    <div *ngIf="formUsuario.get('usuario')?.errors?.minlength ">
                                        *La longitud mínima es de 2.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row p-3">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-primary login col-8 " [disabled]="formUsuario.invalid">
                                INICIAR SESIÓN
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>


<app-loading *ngIf="mostrarLoading"></app-loading>